/* START RESET CSS */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
input[type=submit] {
    -webkit-appearance: none;
}
html {
    overflow-x: visible;
}
body {
    max-width:   100%;
    background: white;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    position: relative;
}
ol, ul {
    list-style: none;
}
sup {
    font-size: 10px;
    vertical-align: super;
}
sub {
    font-size: 10px;
    vertical-align: sub;
}
p:empty {
    display: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* END RESET CSS */

/* START HEADER */
.container	{
    margin: 0 auto;
    position: relative;
    /*max-width: 1000px;*/
    /*min-width: 1000px;*/
}
.row {
    position: relative;
}
.col {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
/* END HEADER */

.span_1 { width: 6.5%; }
.span_2 { width: 15.0%; }
.span_3 { width: 23.5%; }
.span_4 { width: 32.0%; }
.span_5 { width: 40.5%; }
.span_6 { width: 49.0%; }
.span_7 { width: 57.5%; }
.span_8 { width: 66.0%; }
.span_9 { width: 76.5%; }
.span_10 { width: 83.0%; }
.span_11 { width: 91.5%; }

.span_12 {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}


body {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-family: 'OpenSansRegular';
    background-color: #f5f5f5;
    line-height: 22px;
}



.col.center {
    text-align: center;
}

.col.right {
    text-align: right;
}

.container-wrap, .project-title {
    background-color: #F5F5F5;
    position: relative;
    z-index: 0;
    margin-top: -55px;
    padding-top: 59px;
    padding-bottom: 0;
}

a {
    color: #27CFC3;
    text-decoration: none;
    transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
}

a:hover {
    color: inherit;
}

#telnumber a {
    color: #888;
    text-decoration: none;
    cursor: default;
}

#telnumber a:hover {
    color: #cb2026;
}

h1 { font-size: 30px; line-height: 42px; margin-bottom: 7px; }

h2 { font-size: 22px; line-height: 36px; margin-bottom: 10px;}

h3 { font-size: 19px; margin-bottom: 7px; }

h4 { font-size: 18px; line-height: 32px; margin-bottom: 7px; }

h5 { font-size: 16px; line-height: 26px; margin-bottom: 7px; }

h6 { font-size: 14px; line-height: 24px; margin-bottom: 7px;  }

h1,h2,h3,h4,h5,h6 {
    color: #444;
    letter-spacing: -0.5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'OpenSansSemiBold';
}

.bold, strong, b {
    font-weight: normal!important;
    color: #000;
}

.wpb_wrapper > div {
    margin-bottom: 24px;
}

.wpb_wrapper > div:last-child {
    margin-bottom: 0;
}

/*-------------------------------------------------------------------------*/
/*	Header
/*-------------------------------------------------------------------------*/

#header-space {
    height: 90px;
}

#header-outer {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    padding: 28px 0 0 0;
    background-color:#fff;
    z-index: 9998;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}

header#top #logo {
    width: auto;
    max-width: none;
    display: block;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: -1.5px;
    color: #444444;
    font-family: 'OpenSansSemibold';
}

header#top #logo.no-image { margin-top: 4px; }

header#top #logo #retina-logo { display: none; }

header#top #logo:hover {
    color: #27CFC3;
}

header#top #logo img {
    /*max-height: 30px;*/
    text-indent: -9999px;
    max-width: none;
    width: auto;
    margin-bottom: 0;
    display: block;
}

header#top {
    position: relative;
    z-index: 9998;
    width: 100%;
}


header#top .container .row {
    padding-bottom: 0;
}

header#top nav > ul {
    float: right;
    overflow: visible!important;
}

header#top nav ul li {
    float: right;
}

header#top nav > ul > li {
    float: left;
}

header#top nav > ul > li > a {
    padding: 0 10px 0 10px;
    display: block;
    color: #555;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
.row .col h3 {
    line-height: 22px;
    margin-bottom: 12px;
}
.row .col img {
    /*margin-bottom: 15px;*/
    /*max-width: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
}
#header-outer { padding-top: 15px; }

#header-outer #logo img { height: 65px; }

header#top nav > ul > li > a {
    padding-bottom: 38px;
    padding-top: 23px;
}

header#top nav > ul li#search-btn {
    padding-bottom: 22px;
    padding-top: 23px;
}

header#top .sf-menu > li.sfHover > ul { top: 20px; }

.sf-sub-indicator { height: 20px; }

#header-space { height: 95px;}

/*-------------------------------------------------------------------------*/
/*	Main Content
/*-------------------------------------------------------------------------*/
.row .col.section-title {
    margin: 0 0 0 0;
    padding: 0 0 36px 0;
    border-bottom: 1px solid #ddd;
}

#full_width_portfolio .row .col.section-title {
    border-bottom: 0;
    padding-bottom: 0;
}

.row .col.section-title.project-title, .row .col.section-title.blog-title {
    margin-bottom: 14px;
}

.home .row .col.section-title {
    padding: 0 0 3em 0;
}

.row .col.section-title h1, .row .col.section-title h2 {
    margin-bottom: 3px!important;
    font-family: 'OpenSansSemibold';
    letter-spacing: -1px;
    position: relative;
}


.row .col.section-title h1 {
    top: 3px;
}

.row .col.section-title span {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    color: #888;
    top: 0;
    position: relative;
    text-transform: none;
    font-family: 'OpenSansLight';
    padding-left: 10px;
}

.row .col.section-title h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.row .col.section-title p {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
    font-family: 'OpenSansLight';
}

.wpb_wrapper > .divider, .wpb_wrapper > .divider-border , .wpb_wrapper > .divider-small-border {
    margin-bottom: 0;
}

.divider {
    height: 20px;
}

.divider-border {
    margin: 35px 0 35px 0;
    border-bottom: 1px solid #ddd;
}

.divider-small-border {
    margin: 25px auto 25px auto;
    width: 20%;
    border-bottom: 1px solid #ddd;
}

body .wpb_separator, body .vc_text_separator {
    border-color: rgba(0,0,0,0.06);
}

body .vc_text_separator div {
    background-color: #f5f5f5;
    font-family: 'openSansLight';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
    top: -20px;
}

.light .divider-small-border {
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.col.boxed, .wpb_column.boxed {
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 25px 15px 15px 15px;
    position: relative;
    -webkit-transition: top 0.2s linear,-webkit-box-shadow 0.2s linear;
    -moz-transition: top 0.2s linear,-moz-box-shadow 0.2s linear;
    -o-transition: top 0.2s linear,-o-box-shadow 0.2s linear;
    transition: top 0.2s linear,box-shadow 0.2s linear;
}

.col.boxed span.bottom-line, .wpb_column.boxed span.bottom-line {
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: #E8E8E8;
}

.col.boxed img, .wpb_column.boxed img {
    padding: 0 15px;
}

.col.boxed:hover, .wpb_column.boxed:hover {
    top: -4px;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.col.centered-text, .wpb_column.centered-text {
    text-align: center;
}

.col.centered-text img, .wpb_column.centered-text img, .col.center img {
    margin: 0 auto!important;
}

.col.span_3 .col.span_12 i, .col.span_4 .col.span_12 i {
    margin-bottom: 0;
}

body .wpb_text_column {
    margin-bottom: 0;
}

body .wpb_text_column h2:last-child, body .wpb_text_column h3:last-child {
    margin-bottom: 10px;
}
.wpb_row > .span_12 {
    margin-bottom: 0!Important;
}

.wpb_row > .span_12 > .column_container:last-child {
    margin-bottom: 0!Important;
}


/***************** Full Width Section ******************/

.full-width-section {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    width: 100%;
    position: relative;
    z-index: 0;
}

.wpb_row {
    position: relative;
}


.full-width-section img {
    display: block;
    margin-bottom: 0!important;
}

/***************** Pricing Tables ******************/

.pricing-table {
    margin-top: 60px;
    margin-bottom: 30px;
}

.pricing-table:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
    border-left: 1px solid #e4e4e4!important;
}

.pricing-column {
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 0;
    background-color: #fff;
    transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -webkit-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
}


.pricing-column .pricing-column-content {
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 0 0;
}

.pricing-column.highlight {
    position: relative;
    z-index: 0;
    margin: -20px -1px 0 -1px;
    background-color: #FFF;
    box-shadow: 0 0 13px rgba(0,0,0,.09);
    -moz-box-shadow: 0 0 13px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 13px rgba(0,0,0,.09);
    -o-box-shadow: 0 0 13px rgba(0,0,0,.09);
}

.pricing-column.highlight .nectar-button {
    margin: 10px 0 20px 0;
}

.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
    border: none;
}

.pricing-column.highlight h3 .highlight-reason {
    display: block;
    font-family: 'OpenSansbold';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgba(0,0,0,0.4);
}

.pricing-column.highlight .pricing-column-content {
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}


.pricing-column.highlight:hover {
    box-shadow: 0 0 13px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 13px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 13px rgba(0,0,0,.15);
    -o-box-shadow: 0 0 13px rgba(0,0,0,.15);
}

.pricing-column ul li {
    color: #888!important;
    padding: 10px 24px;
    list-style: none;
    line-height: 18px;
    border-bottom: 1px solid #efefef;
    font-size: 12px; /* Ñ‚ÑƒÑ‚ Ð¼ÐµÐ½ÑÑ‚ÑŒ */
    /* 	height: 200px; */
}

.pricing-column ul li:first-child {
    border-top: 1px solid #efefef;
}

.pricing-column ul li:nth-child(2n+1) {
    background-color: #fbfbfb;
}

.pricing-column.highlight h3 {
    color: #fff!important;
    background-color:#cb2026;
    padding: 15px 0;
    margin-bottom: 0!important;
}

.toggle .pricing-column h3 {
    font-size: 26px!important;
}

.pricing-column h3 {
    background-color: #fff;
    color: #cb2026;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 28px!important;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #e4e4e4;
    padding: 18px 0 18px 0;
}

.pricing-column h4 {
    margin-left: -22px;
    padding: 20px 30px 6px 30px;
    font-size: 32px!important;
    line-height: 42px!important;
    color: #333;
    margin-bottom: 0;
}

.pricing-column h4 .dollar-sign {
    font-size: 22px;
    line-height: 22px;
    top: -14px;
    right: -6px;
    font-family: 'OpenSansLight';
    position: relative;
}

.pricing-column .interval {
    display: block;
    color: #999;
    min-height: 38px;
    display: block;
    padding-bottom: 17px;
}

.pricing-column ul {
    margin-left: 0;
}

.pricing-table.six-cols > div { width: 16.5%; }
.pricing-table.five-cols > div { width: 20%; }
.pricing-table.four-cols > div { width: 25%; }
.pricing-table.three-cols > div { width: 33.2%; }
.pricing-table.two-cols > div { width: 50%; }

.pricing-table .col {
    padding: 0 20px;
}

.col .pricing-table h3 {
    margin-bottom: 0;
    font-size: 15px; /* Ñ‚ÑƒÑ‚ Ð¼ÐµÐ½ÑÑ‚ÑŒ */
}

/*-------------------------------------------------------------------------*/
/*	Footer Styles
/*-------------------------------------------------------------------------*/

#footer-outer {
    color: #ccc;
    position: relative;
    z-index: 0;
    background-color: #313233;
}

#footer-outer .row {
    padding: 55px 0;
    margin-bottom: 0;
}

#footer-outer a {
    color: #ccc;
}

#footer-outer a:hover {
    color: #27CFC3;
}

#footer-outer #copyright {
    padding: 20px 0;
    font-size: 12px;
    background-color: #1f1f1f;
    border-top: 1px solid #3a3a3a;
    color: #777;
}

#footer-outer #copyright li {
    float: left;
    margin-left: 20px;
}

#footer-outer #copyright .container div:last-child {
    margin-bottom: 0;
}

/*-------------------------------------------------------------------------*/
/*	General Form Styles
/*-------------------------------------------------------------------------*/
form > p {
    padding-bottom: 27px;
}

input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search]  {
    padding: 10px!important;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    font-family: 'OpenSansRegular';
    font-size: 12px;
    line-height: 22px;
    color: #555;
    background-color: #ededed;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=search]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus {
    background-color: #e8e8e8;
}

input[type=submit], button[type=submit] {
    padding: 7px 11px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    width: auto;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}

select {
    padding: 10px!important;
    width: 100%;
    border: 0!important;
    border: none!Important;
    font-family: 'OpenSansRegular';
    font-size: 12px;
    line-height: 22px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)!Important;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

textarea {
    font-size: 16px;
    max-width: 100%;
}

label span {
    color: #27CFC3;
}

ul{
    font-size: 18px;
    color: black;
}
#telnumber{
    margin-top: 25px;
    margin-right: 20px;
}
#telnumber a{
    font-size: 18px;
}

#loginbtn{
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.captiontext {

}

.privilege{
    font-size: 16px;
    text-align: justify;
}

.equip{
    text-align: justify;
    width: 320px;
    word-wrap: break-word;
    line-height: 140%;
}

.equip h4{
    color: #cb2026;
}

.getdemotext{
    vertical-align: middle;
}
.getdemotext h3 {
    font-size: 16px;
    text-align: justify;
}

.marker ul li {
    list-style-type: circle;
}
.marker p{
    padding-bottom: 0 !important;
    /* 	font-size: 16px; */
    /* 	color: black; */

}
.marker ol ul{
    margin-bottom: 0 !important;
}
.marker ol li span {
    /* 	font-size: 16px; */
}
.marker ol li p {
    /* 	font-size: 16px; */
}

.marker a {
    text-indent: 50px;
}

.login11{
    position: absolute;
    top: 100px;
    right: -170px;
}

.login11btn{
    position: relative;
    top: -10px;
}

.login11 h2{
    color: white;
}

#menu-item-1719 a{
    margin-top: 10px;
    padding-bottom: 27.5px !important;
}

.plashka{
    margin-left: 25%;
}

.sputnik{
    position: absolute;
    margin-top: 130px;
    margin-left: 1px;
    z-index: 1;
}

.sputnik h3{
    color: #cb2026;
    z-index: 1;
}

.technic{
    position: absolute;
    margin-top: 290px;
    margin-left: 1px;
    z-index: 1;
}

.technic h3{
    color: #cb2026;
    z-index: 1;
}

.agronom1{
    position: absolute;
    margin-top: 450px;
    /* 	margin-left: 140px; */
    z-index: 1;
}

.agronom1 h3{
    z-index: 1;
    color: #cb2026;
}

.econom1{
    position: absolute;
    margin-top: 525px;
    /* 	margin-left: 140px; */
    z-index: 1;
}

.econom1 h3{
    color: #cb2026;
    z-index: 1;
}

.mehaniz{
    position: absolute;
    margin-left: 70px;
    margin-top: 580px;
    z-index: 1;
}

.mehaniz h3{
    color: #cb2026;
    z-index: 1;
}

.agronom2{
    position: absolute;
    margin-left: 70px;
    margin-top: 490px;
    z-index: 1;
}

.agronom2 h3{
    color: #cb2026;
    z-index: 1;
}
.econom2{
    position: absolute;
    margin-left: 70px;
    margin-top: 390px;
    z-index: 1;
}

.econom2 h3{
    color: #cb2026;
    z-index: 1;
}
.director{
    position: absolute;
    margin-left: 70px;
    margin-top: 255px;
    z-index: 1;
}

.director h3{
    color: #cb2026;
    z-index: 1;
}
.sobstvennik{
    position: absolute;
    margin-left: 70px;
    margin-top: 140px;
    z-index: 1;
}

.sobstvennik h3{
    color: #cb2026;
    z-index: 1;
}

.sputnikt{
    position: absolute;
    line-height: 140%;
    margin-top: 160px;
    /* 	color: black; */
    z-index: 1;
}

.technict{
    position: absolute;
    margin-top: 314px;
    line-height: 140%;
    /* 	color: black; */
    z-index: 1;
}

.sputikt1{
    position: absolute;
    margin-top: 220px;
    line-height: 140%;
    /* 	color: black; */
    z-index: 1;
}

.agronom1t{
    position: absolute;
    margin-top: 473px;
    line-height: 140%;
    /* 	color: black; */
    z-index: 1;
}

.econom1t{
    position: absolute;
    line-height: 140%;
    margin-top: 550px;
    /* 	color: black; */
    z-index: 1;
}

.sobstvennikt{
    position: absolute;
    line-height: 140%;
    margin-top: 165px;
    margin-left: 70px;
    z-index: 1;
}

.directort{
    position: absolute;
    line-height: 125%;
    margin-left: 70px;
    margin-top: 280px;
    z-index: 1;
}

.ekonom2t{
    position: absolute;
    line-height: 140%;
    margin-left: 70px;
    margin-top: 413px;
    z-index: 1;
}

.agronom2t{
    position: absolute;
    line-height: 140%;
    margin-left: 70px;
    margin-top: 510px;
    z-index: 1;

}

.mehanizt{
    position: absolute;
    line-height: 140%;
    margin-left: 70px;
    margin-top: 600px;
    z-index: 1;

}

.preim1{
    line-height: 140%;
    /* 	background-color: #f5f5f5; */
    padding: 10px;
    height: 280px;
    font-size: 15px;
    /* 	text-align: justify; */

}

.preim1 h3{
    color: #cb2026 ;
}

.preim2{
    line-height: 140%;
    /* 	background-color: #f5f5f5; */
    padding: 10px;
    height: 280px;
    /* 	text-align: justify; */
    font-size: 15px;
}

.preim2 h2{
    color: #cb2026;
}

.preim3{
    line-height: 140%;
    padding: 10px;
    font-size: 15px;
}

.tekstt{
    font-size: 10px;
}
.calc11{
    font-size: 16px !important;
}

/*****************Nectar Button ******************/

.btn {
    padding: 8px 16px;
}

.nectar-button {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF!important;
    font-family: 'OpenSansbold';
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    line-height: 20px;
    background-color: #cb2026;
    display: inline-block;
}
.nectar-button.small {
    border-radius: 2px 2px 2px 2px;
    font-size: 9px;
    padding: 5px 8px;
    letter-spacing: 1.3px;
    color: #FFFFFF!important;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.medium {
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFFFFF!important;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.large {
    font-size: 13px;
    padding: 15px 22px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button:hover, .full-width-section .light .nectar-button:hover {
    opacity: 1;
}

.full-width-section .light .nectar-button {
    opacity: 0.9;
}

.nectar-button.see-through {
    background-color: transparent!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    -o-box-shadow: none!important;
    opacity: 1!important;
    transition: all 0.2s linear!important;
    -moz-transition: all 0.2s linear!important;
    -webkit-transition: all 0.2s linear!important;
    -o-transition: all 0.2s linear!important;
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    -o-border-radius: 2px!important;
    border: 2px solid rgba(255,255,255,0.4);
}

.nectar-button.see-through:hover {
    border: 2px solid rgba(255,255,255,1);
}


.col.light .nectar-button.see-through {
    border: 2px solid rgba(255,255,255,0.4);
    color: #fff;
}

.col.light .nectar-button.see-through:hover {
    border: 2px solid rgba(255,255,255,1);
}

.col.dark .nectar-button.see-through {
    border: 2px solid rgba(0,0,0,0.4)!important;
    color: #444444!important;
}

.col.dark .nectar-button.see-through:hover {
    border: 2px solid rgba(0,0,0,1)!important;
}


/***************** Contact form styles ******************/

div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 0;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    margin-left: 0.5em;
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 4px;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}
input.wpcf7-form-control.wpcf7-submit{
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFFFFF!important;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    color: #FFFFFF!important;
    font-family: 'OpenSansbold';
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    opacity: 0.75;
    line-height: 20px;
    background-color: #cb2026;
    display: inline-block;
}

/** js_composer_front.css **/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
/* Grid systems
---------------------------------------------------------- */
.wpb_row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Grid with fluid columns */
.vc_row-fluid {
    width: 100%;
    *zoom: 1;
}
.vc_row-fluid:before,
.vc_row-fluid:after {
    display: table;
    content: "";
}
.vc_row-fluid:after {
    clear: both;
}
.vc_row-fluid [class*="vc_span"] {
    display: block;
    width: 100%;
    min-height: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.5%;
}
.vc_row-fluid [class*="vc_span"]:first-child {
    margin-left: 0;
}
.vc_row-fluid .vc_span12,
.wpb_teaser_grid.wpb_carousel .vc_span12 {
    width: 100%;
}
.vc_row-fluid .vc_span11 {
    width: 98.45833333333334%;
    padding-left: 15px;
}
.vc_row-fluid .vc_span10 {
    width: 82.91666666666667%;
}
.vc_row-fluid .vc_span9 {
    width: 74.375%;
}
.vc_row-fluid .vc_span8 {
    width: 65.83333333333334%;
}
.vc_row-fluid .vc_span7 {
    width: 57.29166666666667%;
}
.vc_row-fluid .vc_span6,
.wpb_teaser_grid.wpb_carousel .vc_span6 {
    width: 48.75%;
}
.vc_row-fluid .vc_span5 {
    width: 40.208333333333336%;
}
.vc_row-fluid .vc_span4,
.wpb_teaser_grid.wpb_carousel .vc_span4 {
    width: 31.666666666666668%;
}
.vc_row-fluid .vc_span3,
.wpb_teaser_grid.wpb_carousel .vc_span3 {
    width: 23.125%;
}
.vc_row-fluid .vc_span2 {
    width: 14.583333333333334%;
}
.vc_row-fluid .vc_span1 {
    width: 6.041666666666667%;
}
.wpb_row > .wpb_column > .wpb_wrapper .wpb_content_element:last-child {
    margin-bottom: 0;
}
/* end Grid systems -------------------------------------- */
/* Responsive classes
---------------------------------------------------------- */



/*
    STYLES FOR MODAL WINDOW
*/
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .5s ease-out;
    -moz-transition:    -moz-transform .5s ease-out;
    -o-transition:      -o-transform .5s ease-out;
    transition:         transform .5s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 200px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 350px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.form-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }

.loginbtn {
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.login {
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
    width: 340px;
}
.txt_box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    background-color: #F5F5F5;
    width: 95%;
    border: none;
    margin: 5px 0;
    padding: 12px 2%;
}
#mySmallModalLabel {
    color: #ffffff;
}
.lgnbtn {
    text-shadow: 0 0 1px #a10006;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: #e90023;
    background: -moz-linear-gradient(top, #e90023 0%, #bf0002 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e90023), color-stop(100%, #bf0002));
    background: -webkit-linear-gradient(top, #e90023 0%, #bf0002 100%);
    background: -o-linear-gradient(top, #e90023 0%, #bf0002 100%);
    background: -ms-linear-gradient(top, #e90023 0%, #bf0002 100%);
    background: linear-gradient(to bottom, #e90023 0%, #bf0002 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e90023', endColorstr='#bf0002', GradientType=0 );
}

.callus {
    margin: -15px 0 -30px 0!important;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
    color: red;
    font-weight: bold;
}
._getLoginError {
    font-size: 12px;
    text-align: center;
}