# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

!app/cache/.gitkeep
!app/logs/.gitkeep
/build/

web/uploads/*
web/bundles/*
!web/compiled/.gitkeep
web/compiled/*
web/compiled/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/mailparameters.yml
src/Admin/ClientBundle/Resources/config/config.yml
/app/config/dynamic_parameters.yml

.idea/*
composer.lock
