# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

!app/cache/.gitkeep
!app/logs/.gitkeep
/build/

web/uploads/*
web/bundles/*
!web/compiled/.gitkeep
web/compiled/*
web/compiled/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/mailparameters.yml
src/Admin/ClientBundle/Resources/config/config.yml
/app/config/dynamic_parameters.yml

.idea/*
composer.lock

src/Admin/CatalogBundle/Resources/public/images/chemistry/full/*
!src/Admin/CatalogBundle/Resources/public/images/chemistry/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/chemistry/logo/*
!src/Admin/CatalogBundle/Resources/public/images/chemistry/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/chemistry/original/*
!src/Admin/CatalogBundle/Resources/public/images/chemistry/original/.gitkeep

src/Admin/CatalogBundle/Resources/public/images/entomophages/full/*
!src/Admin/CatalogBundle/Resources/public/images/entomophages/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/entomophages/logo/*
!src/Admin/CatalogBundle/Resources/public/images/entomophages/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/entomophages/original/*
!src/Admin/CatalogBundle/Resources/public/images/entomophages/original/.gitkeep

src/Admin/CatalogBundle/Resources/public/images/manufacturers/full/*
!src/Admin/CatalogBundle/Resources/public/images/manufacturers/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/manufacturers/logo/*
!src/Admin/CatalogBundle/Resources/public/images/manufacturers/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/manufacturers/original/*
!src/Admin/CatalogBundle/Resources/public/images/manufacturers/original/.gitkeep

src/Admin/CatalogBundle/Resources/public/images/substrates/full/*
!src/Admin/CatalogBundle/Resources/public/images/substrates/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/substrates/logo/*
!src/Admin/CatalogBundle/Resources/public/images/substrates/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/substrates/original/*
!src/Admin/CatalogBundle/Resources/public/images/substrates/original/.gitkeep

src/Admin/CatalogBundle/Resources/public/images/varieties/full/*
!src/Admin/CatalogBundle/Resources/public/images/varieties/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/varieties/logo/*
!src/Admin/CatalogBundle/Resources/public/images/varieties/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/varieties/original/*
!src/Admin/CatalogBundle/Resources/public/images/varieties/original/.gitkeep

src/Admin/CatalogBundle/Resources/public/images/vermin/full/*
!src/Admin/CatalogBundle/Resources/public/images/vermin/full/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/vermin/logo/*
!src/Admin/CatalogBundle/Resources/public/images/vermin/logo/.gitkeep
src/Admin/CatalogBundle/Resources/public/images/vermin/original/*
!src/Admin/CatalogBundle/Resources/public/images/vermin/original/.gitkeep