<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>БиоКонтролер</title>
    {% stylesheets
    '@AdminClientBundle/Resources/public/css/bootstrap/bootstrap.css'
    '@AdminClientBundle/Resources/public/css/index/style.css'

    output='style.css'
    filter='?yui_css' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
</head>

<body>

<div class="fluid-container">
    <div class="head-menu">
        <a href="http://controler.ua/" title="Контролер">Контролер</a>
        <a href="http://agro.controler.ua/" title="АгроКонтролер">АгроКонтролер</a>
        <a href="http://bio.controler.ua/" title="БиоКонтролер" class="active-menu">БиоКонтролер</a>
        <a href="http://agroconsulter.com.ua/" title="АгроКонсалтинг">АгроКонсалтинг</a>
        <a href="http://monitor.controler.ua/" title="GPS мониторинг">GPS мониторинг</a>
        <a href="http://sf-art.com/" title="Студия Федорова">Студия Федорова</a>
        <a href="index.html#" class="disabled" title="Погода">Погода</a>
        <a href="index.html#" class="disabled" title="Видео и системы контроля доступа">Видео и системы контроля доступа</a>
        <a href="http://www.agrora.com.ua/" title="Агрора">Агрора</a>
    </div>
</div>
<div class="container">
    {% block login %}{% endblock %}

    <div class="bio-logo">
        <img src="/compiled/bundles/adminclient/images/index/biocontroler.png" alt="БиоКонтролер"/>
    </div>
</div>

</body>
</html>
